<div class="container">
  <div class="page-header">
    <h1>Help</h1>
  </div>

  <h2>Wallet</h2>
  <p>
    Get a wallet from here: <a href="https://wallet.akroma.io/">https://wallet.akroma.io/</a>
  </p>

  <h2>Helpful Links</h2>
  <ul>
    <li><a href="https://akroma.io/">Website</a></li>
    <li><a href="https://stats.akroma.io/">Stats</a></li>
    <li><a href="https://akroma.io/explorer">Explorer</a></li>
    <li><a href="https://github.com/akroma-project">Github</a></li>
  <ul>

  <h2>Mining</h2>

  <p class="lead"><strong>Mining with<strong>
    <a href="https://github.com/ethereum-mining/ethminer/releases" rel="nofollow" target="_blank">Ethminer</a><br/>
  </p>

  <p>
    <strong>Getwork OpenCL (AMD Cards):</strong>
    <code>ethminer -F {{config.HttpHost}}:{{config.HttpPort}}/0x40d8975c66FBACe77399051cCd234FA1aD83fEdf/myfarm -G --farm-recheck 1000</code>
<!--     <span class="label label-info">Hint:</span> If you are compiling ethminer from latest source, please also use
      extra <code>--disable-submit-hashrate</code> option. -->
  </p>
  <p>
    <strong>Stratum OpenCL (AMD Cards):</strong>
    <code>ethminer -S {{config.StratumHost}}:{{config.StratumPort}} -SP 1 -O 0x40d8975c66FBACe77399051cCd234FA1aD83fEdf.myfarm -G --farm-recheck 1000</code>
  </p>

  <p>
    <strong>Getwork CUDA (NVIDIA Cards):</strong>
    <code>ethminer -F {{config.HttpHost}}:{{config.HttpPort}}/0x40d8975c66FBACe77399051cCd234FA1aD83fEdf/myfarm -U --farm-recheck 1000</code>
  </p>
  <p>
    <strong>Stratum CUDA (NVIDIA Cards):</strong>
    <code>ethminer -S {{config.StratumHost}}:{{config.StratumPort}} -SP 1 -O 0x40d8975c66FBACe77399051cCd234FA1aD83fEdf.myfarm -U --farm-recheck 1000</code>
  </p>
  <br/>

  <p class="lead"><strong>Mining with<strong>
    <a href="https://mega.nz/#F!O4YA2JgD!n2b4iSHQDruEsYUvTQP5_w" rel="nofollow" target="_blank">Claymore</a><br/>
  </p>
  <p>
    <strong>Stratum</strong>
    <code>EthDcrMiner64.exe -epool stratum+tcp://{{config.StratumHost}}:{{config.StratumPort}} -ewal 0x40d8975c66FBACe77399051cCd234FA1aD83fEdf  -epsw x -allpools 1 -allcoins exp -gser 2 -eworker x</code>
  </p>
  <br/>

  <p class="lead"><strong>Mining with<strong>
    <a href="https://github.com/ethash/eminer-release" rel="nofollow" target="_blank">Eminer</a><br/>
  </p>
  <p>
    Eminer has a free to use <a href="https://cloud.eminer.net/register">cloud service</a> for stats!
  </p>
  <p>
    <strong>Stratum</strong>
    <code>eminer.exe {{config.StratumHost}}:{{config.StratumPort}} -U 0x40d8975c66FBACe77399051cCd234FA1aD83fEdf -P x --cloud-key {your-cloud-key} -intensity 48 -N {your-rig-name}</code>
  </p>
  <br/>

  <p class="lead">Nicehash<br/></p>
  <p>
    <strong>Algorithm</strong><br>
    <code>DaggerHashimoto</code><br>
    <strong>Server</strong><br>
    <code>{{config.StratumHost}}</code><br>
    <strong>Port</strong><br>
    <code>8004</code><br>
    <strong>Username</strong><br>
    <code>Your Wallet ID</code><br>
    <strong>Password</strong><br>
    <code>#</code>
  </p>
  <br/>
  

<!--   <h4>Stratum Mining with Stratum Proxy for Ethereum</h4>
  <p class="lead">Grab proxy from <a href="https://github.com/Atrides/eth-proxy" re="nofollow" target="_blank">eth-proxy GitHub repo</a>.</p>
  <p class="lead">Edit <code>eth-proxy.conf</code> and specify our pool's <code>HOST: {{config.StratumHost}}</code>, <code>PORT: {{config.StratumPort}}</code> and your <code>WALLET</code>.</p>

  <h4>Mining with Ether-Proxy</h4>
  <p class="lead">Use stable release of <a href="https://github.com/sammy007/ether-proxy/releases" target="_blank">Ethereum Solo/Pool Mining Proxy</a>.</p> -->

  <h4>Advice</h4>
  <p>CPU mining is not recommended.</p>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
</div>
