<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- <table border=0><tr><td valign=top><img src="./logo.png" border="0" height="60px"></td><td valign=top><h3>&nbsp;&nbsp;<b>ELLA</b></h3></td></tr></table><br/> -->
        <br/>
        <strong>Min. payout threshold: {{config.PayoutThreshold}}</strong>, Payouts run every 30m.<br/>
        <span class="label label-success">PROP</span> Stable and profitable!<br/>
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> Miners Online: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> Pool Hash Rate: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> Pool Fee: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> Last Block Found: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> Network Difficulty: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> Network Hash Rate: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> Blockchain Height: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> Current Round Variance: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your EGEM Address"}}
      <span class="input-group-btn">
        <button style="background-color: rgb(198, 240, 254); color: #fff;" class="btn" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <h4>News / Updates:</h4>
    <h4 class="note note-info text-center">
      <p> Have fun mining :)</p>
    </h4>
    <h4 class="note note-info text-center">
      <p><b>0 - 150 mh/s per rig (2b)</b></p><br/>
      <p>Getwork</p><code>{{config.HttpHost}}:{{config.HttpPort}}</code><br/><br/>
      <p>Stratum</p><code>{{config.StratumHost}}:{{config.StratumPort}}</code>
    </h4>
    <h4 class="note note-info text-center">
      <p><b>150-800 mh/s / Nicehash per rig (4b)</b></p><br/>
      <p>Getwork </p><code>{{config.HttpHost}}:8833</code><br/><br/>
      <p>Stratum </p><code>{{config.StratumHost}}:8003</code>
    </h4>
    <h4 class="note note-info text-center">
      <p><b>800+ mh/s / Nicehash per rig (9b)</b></p><br/>
      <p>Getwork </p><code>{{config.HttpHost}}:8844</code><br/><br/>
      <p>Stratum </p><code>{{config.StratumHost}}:8004</code>
    </h4>
    <h4>Other Cryptobit Pools:</h4>
    <h4 class="note note-info">
      <a href="http://ella.cryptobitpool.eu">Ellaism</a>
    </h4>
    <h4 class="note note-info text-center">
      <b>Support</b>: <a href="https://discord.gg/aRkgVv5"></a>
    </h4>
  </div>
</div>
